body {
  margin: 0;
  font-family: sans-serif;
  background: #fff5f7;
  text-align: center;
}

#mainTitle {
  margin-top: 40px;
}

/* Modal */

.modal {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal-content {
  position: relative;

  width: 90%;
  max-width: 420px;

  border-radius: 20px;

  overflow: hidden;

  animation: popup .3s ease;
}

.ad-image {
  width: 100%;
  display: block;
}

.close-btn {
  position: absolute;

  top: 10px;
  right: 10px;

  width: 36px;
  height: 36px;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  background: white;
  font-size: 18px;
  font-weight: bold;
}

@keyframes popup {
  from {
    transform: scale(.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.box-grid {
  width: 90%;
  max-width: 500px;

  margin: 20px auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 16px;
}

.box-card {
  cursor: pointer;

  transition: .25s;

  border-radius: 20px;

  overflow: hidden;
}

.box-card:hover {
  transform: scale(1.05);
}

.box-card img {
  width: 100%;
  display: block;
}

#statusText {
  margin-top: 20px;

  color: #666;

  font-size: 14px;
}
